label {
    display: block;
    font-size: 30px;
}
input {
    padding: 3px 200px;
}
.namebad {
    color: red;
    font-weight: bolder;
}
.namebad input {
    border: 2px solid red;
}
#container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#form {
    width: 800px;
    background-color: gray;
}
